.home {
    background: #FFEFBA;
    background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);
    background: linear-gradient(to left, #FFFFFF, #FFEFBA);
  }

  .cool {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
   
  
  } 

  