.container{
    display: inline-block;
}

.container-foot{
    display: inline-block;
    color: rgb(253, 101, 6);
    padding: 10px 30px;
    text-decoration: none;
    margin-inline: 5%;
}

.copy{
    text-decoration: none;
    color: rgb(253, 101, 6);
    opacity: 35%;
}