.search-bar {
    text-align: center;
    justify-content: center;
    margin-left: 38%;
    margin-bottom: 1%;
  }
  
.search-bar input {
    width: 40%;
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    margin-bottom: 1%;
    font-size: 16px;
    border-radius: 0.5em;
    background: #d7d7d789;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    cursor: pointer;
   
}

.search-bar input:hover {
    border: 1px solid white;
    
}