/* .container{
    border: 3px solid rgba(58, 58, 58, 0.92);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

} */
.cards-marg{
  margin-bottom: 3%;
}
.cards {
  display: contents;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-left: 60%;
  align-items: center;
  justify-content: center; 

}
.stock{
  background-color: rgba(109, 192, 84, 0.877);
  position: absolute;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 10px;
  border-radius: 3px;
  border: none;
  color: white;
}
.sin-stock{
  background-color: rgba(255, 0, 0, 0.877);
  position: absolute;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 10px;
  border-radius: 3px;
  border: none;
  color: white;
}


.cards img {

  width: 100%;
  height: 90%;

}

.cards h3 {
  color: rgb(34, 34, 34);
  font-family: 'DynaPuff', cursive;
  font-size: 1.5rem;
  margin-top: -8%;
}

.cards h5 {
  color: rgb(34, 34, 34);
  font-family: 'DynaPuff', cursive;
  font-size: 1.5rem;
  margin-top: -10%;
}

.cards-height{
  height: 50%;
}
.text{
  text-decoration: none;
}

.cards-text1{
  text-decoration: none;
}