.paginated {
    background: #FFEFBA;
    background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);
    background: linear-gradient(to left, #FFFFFF, #FFEFBA);
}

.nro {
    margin-inline: 5px;
    border-radius: 50px;
    cursor: pointer;
    color: rgb(34, 34, 34);
    font-family: 'DynaPuff', cursive;
    font-size: 1.5rem;
    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nro:hover {
    cursor: pointer;
    transform: scale(1.40);
}

.btn {
    border: none;
    cursor: pointer;
    color: rgb(253, 101, 6);
    background-color: #ffffff04;
    border-radius: 30px;
    font-family: 'DynaPuff', cursive;
    font-size: 1.5rem;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.40);
}