.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

/* .login .form{
    display: inline-block;
} */

.form{
    display: grid;
    color: rgb(208, 136, 1);
    border: 3px solid rgba(58, 58, 58, 0.92);
    width: 25%;
}

.form label{
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 25px;
}

.form input{
   width: 70%;
    height: 100%;
    margin-bottom: 3%;
    margin-left: 15%;
}

.form a{
    text-decoration: none;
    color: rgb(208, 136, 1);
}

.form button{
    padding: 3%;
    width: 50%;
    margin-top: 8%;
    margin-left: 27%;
}